.row::after {
    content: "";
    clear: both;
    display: table;
}

.travel_mainDiv {
    float: left;
    width: 33.33% padding: 5px;
    border: 1px solid #c7c7c7;
}



.travel_mainDiv hr {
    width: 222%;
}

.travel_mainDiv h5,
.travel_mainDiv p {
    margin-left: 20px;
}

html {
    scroll-behavior: smooth;
}

#myCarousel {
    background-color: skyblue;
    text-align: center;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: black;
    font-size: 15px;
    text-align: center;
}
